name: Mobile CI

on:
  push:
    branches: [ main ]
    paths:
      - 'apps/mobile/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'apps/mobile/**'

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./apps/mobile

    steps:
    - uses: actions/checkout@v3

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.x'
        channel: 'stable'

    - name: Install dependencies
      run: flutter pub get

    - name: Analyze
      run: flutter analyze

    - name: Test
      run: flutter test
